{% extends "layout.html" %}
{% block title %}Bus Board{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bus Board</h1>
    <p class="lead">Just another Bus Board</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Last Updated at: {{data[0]}}</h2>
      <h2>Stop Name: {{data[1]}}</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Bus Number</th>
            <th scope="col">Destination</th>
            <th scope="col">Next (minutes)</th>
          </tr>
          
        </thead>
        <tbody>
          {% for item in data[2] %}
          <tr>
                <td>{{item["line"]}}</td>
                <td>{{item["direction"]}}</td>
                <td>{{item["timeDiff"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
{% endblock %}