{% extends "layout.html" %}
{% block title %}Bus Board{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bus Board</h1>
    <p class="lead">Just another Bus Board</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Current Location: {{current_location}}</h2>
      <table class="table">
        <thead>
        <tr>
            <th scope="col">Bus Number</th>
            <th scope="col">Destination</th>
            <th scope="col">Next</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>86</td>
                <td>86</td>
                <td>86</td>
            </tr>

        </tbody>
    </table>
    </div>
  </div>
{% endblock %}